body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.contenedor{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.barra1{
    width: 100px;
    background-color: rgb(255, 6, 6);
    /*transform: skewY(-20deg);*/
    animation-name: transicion;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.barra2{
    width: 100px;
    border: 1px solid black;
    background-color: rgb(255, 6, 6);
    transform:skew(20deg);
    z-index: 10;
    box-shadow: 1px 1px 30px  black;
    animation-name: transicion;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.barra3{
    width: 100px;
    background-color: rgb(255, 6, 6);
    z-index: 10;
    /*transform: skewY(20deg);*/
    animation-name: transicion;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes transicion{
    0%{
        height: 0px;
    }
    100%{
        height: 400px;
    }
}